<div class="row">
  <div class="col-6">
    <div class="card">
      <app-donut [labels]="labels1" [data]="data1" title="Sales"></app-donut>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-donut [labels]="labels2" [data]="data2" title="Sales"></app-donut>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-donut [labels]="labels3" [data]="data3" title="Sales"></app-donut>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <app-donut [labels]="labels4" [data]="data4" title="Sales"></app-donut>
    </div>
  </div>
</div>
